<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>edit</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <div class="form-card gradient-bg">
        <form method="POST" action="/update/<%=index%>" class="form-style form-card-style">
            <input type="text" name="title" value="<%= oneForm.blogTitle %>">

            <div class="form-row">
                <div class="form-single">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<%= oneForm.blogAuthor %>">
                </div>
                <div class="form-single">
                    <label for="name">Email</label>
                    <input type="text" name="email" value="<%= oneForm.blogEmail %>">
                </div>
            </div>

            <div class="form-row">
                <div class="form-single">
                    <label>Connect with:</label>
                    <div class="social-group">
                        <input type="checkbox" id="facebook" name="socials[]" value="facebook">
                        <label for="facebook"><i class="bi bi-facebook" aria-label="Facebook"></i></label>

                        <input type="checkbox" id="instagram" name="socials[]" value="instagram">
                        <label for="instagram"><i class="bi bi-instagram" aria-label="Instagram"></i></label>

                        <input type="checkbox" id="snapchat" name="socials[]" value="snapchat">
                        <label for="snapchat"><i class="bi bi-snapchat" aria-label="Snapchat"></i></label>
                    </div>
                </div>
                <div class="form-single">
                    <label for="image">Image</label>
                    <input type="text" name="imgURL" value="<%= oneForm.blogImg %>">
                </div>
            </div>
            <div class="form-single">
                <label for="body">Content</label>
                <textarea name="content" rows="5"><%= oneForm.blogBody %></textarea>
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>